div {
    margin: 10px;
    height: 100vh;
    background: dodgerblue;
    text-align: center;
    display: inline-block;
    width: 100vw;
    color: white;
}

span {
    display: inline-block;
    font-size: large;
    padding-top: 20vh;
}

body, html, div {
    margin: 0;
    padding: 0;
}